Repository abhaytaras7/TheWallpapers, pull requests merged in 2022-08, with the labels that each got.

#18 By Bone"Geremsa"
  wallpapers/illustrations/bareTree.jpg
  wallpapers/illustrations/illustration1.jpg
  wallpapers/random/arcade.jpg
Labels: good first issue, newWallpapers

#37 xd
  .github/labeler_config.yml
  .github/workflows/label.yml
Labels: enhancement

#40 Update README.md
  README.md
Labels: readme_update

#44 Update README.md
  README.md
Labels: readme_update

#45 Update labeler_config.yml
  .github/labeler_config.yml
Labels: enhancement

#65 Update README.md
  README.md
Labels: readme_update
